{% extends 'base.html.twig' %}

{% block title %}
Hello LogOutController!
{% endblock %}

{% block body %}
<div class="container pt-3">
	<div class="alert alert-success" role="alert">You are loged out successfully!</div>
</div>
{% endblock %}
